/* .back{
    background-color: gray;
    height: 700px;
    position: relative;
    top: -90px;
} */

nav{
    width: 60%;
}
.blue-bg{
    height: 700px;
    width: 100%;
    background-color: rgb(1, 1, 58);
    border-radius: 0 0 0 15%;
    transform: skewY(7deg);
    position: absolute;
    top: -90px;
}
.img-bg{
    height: 600px;
    width: 450px;
    /* background-color: rgb(228, 15, 175); */
    background-image: url(https://images.unsplash.com/photo-1603134281085-cf0c4b61a65d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 0 20%;
    transform: skewY(7deg);
    position: absolute;
    top: -50px;
    right: 0px;
}
.content-left{
    position: absolute;
    top: 150px;
    width: 33%;
}