<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <!-- bootstrap css link  -->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <!-- fontawesome css link  -->
    <link rel="stylesheet" href="assets/css/all.css">
    <!-- custom css link  -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <!-- ------------------BOOTSTRAP NAVBAR---------------- -->
    <div class="container">
        <nav class="navbar navbar-expand-lg sticky-top navbar-dark">
          <a class="navbar-brand" href="#">WUM</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
            <button class="btn btn-light">Login</button>
          </div>
        </nav>
    </div>


    <section class="back"> 
        <div class="blue-bg"></div>
        <div class="img-bg"></div>
        <div class="container">
            <div class="content-left text-white">
                <h1 text>Always Assure Safe Good Water For Healthy Life</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolorem voluptates nihil! Dolorum, magni fugiat?</p>
                <button class="btn btn-light">Login</button>
            </div>
        </div>
    </section>


    <!-- bootstrap js link  -->
    <script src="assets/js/bootstrap.bundle.js"></script>
    <!-- font awesome css link  -->
    <script src="assets/js/all.js"></script>
</body>
</html>